@use "../utils/mixins" as *;
@use "../utils/functions" as *;
@use "../utils/variables" as *;
@use "../utils/responsive" as *;

@use "../shared/titles" as *;
@use "../shared/links" as *;

.navigation {
  @extend %cover;

  color: $color-quarter-spanish-white;
  position: fixed;
  pointer-events: none;
  z-index: z("navigation");
}
.navigation__link {
  font-size: 0;
  position: absolute;
  left: 4rem;
  top: 4rem;
  width: 12.8rem;
  height: 2rem;
  pointer-events: auto;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.5;
  }

  @include media("<phone") {
    top: 5rem;
    left: 5rem;
    width: 27.9rem;
    height: 4.3rem;
  }
}
.navigation__link__icon {
  display: block;
}
.navigation__list {
}
.navigation__list__item {
  position: absolute;
  right: 4rem;
  top: 4rem;
  pointer-events: auto;
}
.navigation__list__link {
  @extend %link--hidden;
  @extend %title-20;

  display: block;
  line-height: 1;
}
