@use "../utils/mixins" as *;
@use "../utils/responsive" as *;
@use "../shared/descriptions" as *;
@use "../shared/titles" as *;

%vertical-titles {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}
%vertical-titles__label {
  @extend %description-12;

  letter-spacing: 0.1rem;
  margin: 0 3rem;
  text-transform: uppercase;
  text-align: center;
  transform: rotate(90deg);

  @include media("<phone") {
    font-size: 1.2rem;
  }
}
%vertical-titles__title {
  @extend %title-120;

  padding-top: 2rem;
}
